DATABASE_URL=postgresql+psycopg2://tracker:tracker_dev_pw@localhost:5433/job_tracker
REDIS_URL=redis://localhost:6379/0

# added ahead of schedule — not used until Week 3
SECRET_KEY=2ec16c06a105b3364f740c9dae35e3c8240bd06679e978306f314be364b038a3
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
